.DS_Store
.hgignore
changelog.m4.tex
procesy.m4.tex
programovani-v-unixu.m4.aux
programovani-v-unixu.m4.log
programovani-v-unixu.m4.tex
programovani-v-unixu.pdf
programovani-v-unixu_common.m4.tex
programovani-v-unixu_slajdy.m4.aux
programovani-v-unixu_slajdy.m4.log
programovani-v-unixu_slajdy.m4.tex
programovani-v-unixu_slajdy.m4.tmp
programovani-v-unixu_slajdy.pdf
signaly.m4.tex
site.m4.tex
soubory.m4.tex
synchronizace.m4.tex
uvod.m4.tex
vlakna.m4.tex
programovani-v-unixu.m4.out
programovani-v-unixu_slajdy.m4.out
programovani-v-unixu.mynotes.pdf
